body {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0; 
}

/*Header notes*/
header {
    background-color: #E4EEF2;
    padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #403A30;  
}
header p {
    margin: 0;
    color: #403A30;
    letter-spacing: .5px
}

/* nav stuff goes here */
nav {
    background-color: #A67360;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #E4EEF2;
    font-weight: 800;
    display: block;
    padding: .81rem 2rem;
}
nav a:hover {
    color: #fff;
}

/* stuff for the main */
main{
    padding: 1rem 2vw;
}
main h1{
    color:#591E18;
}
main h2{
    color:#591E18;
    margin-bottom: .2rem;
}
main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}
ol {
    padding: .5rem 3vw;
    background-color: #86A0A6;
    color: #ffff
}
main li {
    list-style-type:square;
}
main dl{
    color: #591E18;
    font-weight: 900;
     list-style-type:square;
}
main dd{
    color: #403A30;
    font-size: .9rem;
}

main ul {
    list-style-type:square;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address{
    font-style: normal;
    background-color: #E4EEF2;
    padding: .75rem;
    width: 12.5rem;
    border: 2px solid #591E18;
    border-radius: .7rem;
    
}

main a{
    color: #A67360;
}
main a:hover{
    color: rgb(239,0,24);
}

/*Footer stuff here*/
footer{
    background-color:  #E4EEF2;
    text-align: center;
    color: #403A30;
    padding: 1rem 0;
    font-size: 1rem;
}
footer a {
    color: #403A30;
}




